@charset "UTF-8";

div.item1 {
    flex-flow: column nowrap;
}

div.item1 > img {
    flex-basis: 50px;
    margin: auto;
}

div.item3 {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div.item3 > div {
    padding-top: 10px;
    padding-bottom: 10px;
}