@charset "UTF-8";

nav {
    flex-flow: column nowrap;
}

nav > span {
    flex-basis: 50px;
    margin: auto;
}

nav > a {
    width: 90vw;
}

main {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main > div {
    padding-top: 10px;
    padding-bottom: 10px;
}