@charset "UTF-8";

nav {
    flex-flow: column nowrap;
}

nav > span {
    flex-basis: 50px;
    margin: auto;
}

nav > a {
    width: 90vw;
}

main {
    flex-flow: column nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}