@charset "UTF-8";

:root {
    --cor0: #FFF3DB;
    --cor1: #D5AC8D;
    --cor2: #D98F89;
    --cor3: #991916;
    --cor4: #0B3D46;
    --fontregular: 'Jost-Regular.ttf', sans-serif;
    --fontprincipal: 'Jost-Italic-VariableFont_wght.ttf', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;

}

nav {
    background-color: var(--cor2);
    color: white;
    text-align: right;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

nav > a:hover {
    color: var(--cor3);
    transition: background-color 0.5s;
}


nav > span {
    padding-top: 15px;
    flex: 0 0 200px;
    margin-right: 1000px;
}

header {
    padding: 20px;
    background-color: var(--cor3);
    color: white;
    text-align: center;
}

main {
    background-color: var(--cor0);
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

main > h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

main > div {
    padding: 7px;
    margin: 15px;
    width: 200px;
    text-align: center;
    background-color: #D5AC8D;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
}

main > div > a {
    text-decoration: none;
    color: var(--cor4);
    font: normal 10pt Arial;
    font-weight: bold;
}

main > div:hover {
    background-color: #D98F89;
}


footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 10px;

}

footer > a {
    text-decoration: none;
    color: white;
    font: normal 9pt Arial;
    margin-right: 20px;
}

footer > p {
    font: normal 9pt Arial;
    padding: 10px;
}


