@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}

div.retorno {
    background-color: #D98F89;
    width: 200px;
    border-radius: 10px;
    text-align: center;
   
    margin: auto;
    padding: 10px;
}

div.retorno > a {
    color: white;
    text-decoration: none;
}