@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(11, 11, 45);
}

header h1 {
    color: white;
    font: normal 2em Helvetica;
    text-align: center;
    margin-top: 50px;

}

.container {
    background-color: rgb(36, 31, 100);
    margin: auto;
    margin-top: 40px;
    max-width: 375px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.resultado input {
    background-color: rgba(24, 21, 71, 0);
    border: none;
    position: relative;
    width: 300px;
    min-height: 150px;

}

.resultado input[type=text] {
    background-color: rgba(27, 18, 89, 0.753);
    width: 375px;
    border-radius: 10px 10px 0 0;
    min-height: 150px;

}

.teclas {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}

input[type=button] {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    padding: 20px;
    border: none;
    background-color: rgb(114, 120, 202);
    color: white;
    font: bold 1.2em sans-serif;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

input[type=button]:hover {
    background-color: rgb(79, 84, 154);
}

#del {
    font-size: 0.8em;
    text-align: left;
}

#igual {
    background-color: rgb(205, 89, 44);
    cursor: pointer;
    transition: 0.3s;
}

#igual:hover {
    background-color: rgb(156, 69, 34);
}

footer {
    background-color: rgb(24, 24, 75);
    color: white;
    font: normal 0.7em Helvetica;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 0px;
}