@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

header h1 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
}

i#burger {
    background-color: rgb(61, 61, 61);
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

i#burger:hover {
    background-color: rgb(94, 93, 93);
}

nav {
    background-color: rgb(75, 74, 74);
    display: none;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    border-top: 2px solid gray;
}

nav a:hover {
    background-color: lightgray;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

main h1 {
    padding: 20px 5px;
    text-align: center;
}

article {
    width: 80vw;
    height: 80vh;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;

}

article p {
    line-height: 1em;
    text-indent: 20px;

}

div.retorno {
    background-color: #D98F89;
    width: 200px;
    border-radius: 10px;
    text-align: center;
   
    margin: auto;
    padding: 10px;
}

div.retorno > a {
    color: white;
    text-decoration: none;
}